<!DOCTYPE html>
<html style='width: 400px; height: 400px;'>
<head>

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- jQuery library -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Latest compiled JavaScript -->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <!--<link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css">-->
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="css/css/bootstrap.css">
    <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
    <!--<script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>-->
</head>
<script src='popup.js'></script>

<body ng-app="BusApp" ng-controller="MTDCtrl" ng-csp="" style="width: 400px; height: 400px;">
<br>
<div class="container" ng-show="!found">
    <div class="form-group">
        <label for="Stop">Stop:</label>
        <input type="text" class="form-control" id="Stop" ng-model="stop" ng-change="change()" list="buses">
        <datalist id="buses">
            <div ng-repeat="buses in auto">
                <option value="{{buses.n}}">


            </div>



        </datalist>
    </div>
    <button type="button" class="btn btn-primary btn-block" ng-click="check()" ng-disabled="isEmpty()">Continue</button>

</div>

<div ng-show="found" class="container">
    <div ng-repeat="bus in buses.departures">
        <p>{{bus.headsign}} leaving in {{bus.expected_mins}}</p>
    </div>
    <div ng-show="empty">
        <p>No Upcoming Departures</p>

    </div>
    <button type="button" class="btn btn-primary btn-block" ng-click="ok()">OK</button>


</div>


</body>
</html>